.conteudo .banner-quarto {
    height: 40vh;
    width: 100%;
}

.quartos-imgs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.quarto-imgs {
    object-fit: cover;
}
.container-quartos .quartos-imgs img {
    width: 350px;
    height: 250px;
    flex-grow: 1;
}

.informacoes-quarto {
    max-width: 1440px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: auto 20px;
}

.informacoes-quarto ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

li {
    width: 200px;
    text-align: left;
}
