body {
    color: #0000008c;
}

.container-links a {
    text-decoration: none;
    border-bottom: 2px solid #00cad1;
    color: #000000;
    margin: 0 10px 10px;
    font-size: 18px;
}

.container-links a:hover {
    color:#0d6e71;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-links {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
}

.box-especialidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.informacoes-especialidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    text-align: center;
}

.box-especialidade {
    display: flex;
    height: 240px;
    padding: 0 20px;
    width: 100%;
}


.box-especialidade img {
    width: 33%;
    height: 100%;
}

.tabela {
    border-spacing: 0;
    text-align: left;
    width: 67%;
    height: 100%;
}

.tabela thead th {
    color: #fff;
    background-color: #00cad1;
}

.tabela tr {
    background-color: #f1f1f1;
    color: #585757;
    font-weight: 500;
}

.tabela tbody tr:nth-of-type(odd) {
    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
}

.tabela th, .tabela td {
    padding: 10px;
}

@media (max-width: 768px) {
    .box-especialidade img {
        display: none;
    }
    .tabela {
        width: 100%;
    }
    .box-especialidade {
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .box-especialidade {
        padding: 0;
    }
}