div {
    border-top: 1px solid #d5d5d5;
    font-family: Tahoma;
    color: black;
    padding: 50px;
    text-align: center;
    line-height: 28px;
}
body {
    background-color: #f5f5f5;
}
span {
    font-weight: bold;
}
a {
    color:#f5f5f5;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 30px;
    background-color: #49B970;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

img {
    width: 190px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    margin: 15px 0;
}

h2 {
    font-size: 24px;
    margin: 15px 0;
}

p {
    font-size: 16px;
    margin: 15px auto 30px auto;
    width: 930px
}

h3 {
    font-size: 18px;
    margin: 15px 0;
}